# Dependencies
node_modules/
**/node_modules/

# Build output
target/
build/
dist/

# Yarn cache
.yarn/cache/
.yarn/unplugged/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editors
.DS_Store
.idea/
.vscode/
*.swp
